<div class="container mt-5">
    <div class="card shadow border-0 p-4">
        <h3 class="mb-4">Novo Lançamento</h3>
        <form [formGroup]="form" (ngSubmit)="salvar()">
            <div class="mb-3">
                <label>Descrição</label>
                <input class="form-control" formControlName="descricao">
            </div>
            <div class="mb-3">
                <label>Tipo</label>
                <select class="form-select" formControlName="tipo">
                    <option value="RECEITA">Receita</option>
                    <option value="DESPESA">Despesa</option>
                </select>
            </div>
            <div class="mb-3">
                <label>Categoria</label>
                <select class="form-select" formControlName="categoriaId">
                    <option *ngFor="let c of categorias" [ngValue]="c.id">
                        {{ c.nome }}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label>Valor</label>
                <input type="number" class="form-control" formControlName="valor">
            </div>
            <div class="mb-3">
                <label>Data</label>
                <input type="date" class="form-control" formControlName="data">
            </div>
            <button class="btn btn-success">Salvar</button>
        </form>
    </div>
</div>