<div class="container mt-5">
  <h2>Dashboard</h2>
  <button class="btn btn-outline-danger" (click)="logout()">
    Sair
  </button>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card text-center p-3 shadow">
        <h5>Saldo</h5>
        <h3 class="text-success">R$ 0,00</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center p-3 shadow">
        <h5>Receitas</h5>
        <h3 class="text-primary">R$ 0,00</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center p-3 shadow">
        <h5>Despesas</h5>
        <h3 class="text-danger">R$ 0,00</h3>
      </div>
    </div>
  </div>
</div>